html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* canvas {
    aspect-ratio: 9/16;
} */
